<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Book Recommendation System</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://kit.fontawesome.com/89a66043fb.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="w-screen h-screen bg-gray-100 py-10">
      <div
        class="relative w-1/2 m-auto min-h-[500px] bg-gray-50 p-5 rounded-lg shadow-sm"
      >

        {%extends "navbar.html" %} 
        {%block content%} 

        <div id="results" class="relative mt-4 w-[90%] m-auto">
          <h1 id="searchText" class="text-xl font-semibold mb-2 mt-6">
            Search the book or view your read later
          </h1>
          <ul id="result-box" class="max-h-[60vh] py-2 overflow-auto"></ul>
        </div>
      </div>
    </div>
  </body>
</html>

{% endblock %}
